<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <button class="button icon ion-chevron-left no-border"></button>
    </div>
    <h1 class="title">PROPERTY SEARCH</h1>
    <div class="buttons">
        <button class="button button-transparent icon ion-navicon-round no-border"></button>
    </div>
</ion-header-bar>

<ion-content class="has-header">
    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Keywords</span>
            <input type="text">
            <button class="button button-transparent no-border color-blue button-small icon ion-edit"></button>
        </label>
    </div>

    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Location</span>
            <input type="text" value="Colorado Springs" readonly class="text-right">
            <button class="button button-transparent no-border color-blue button-small icon ion-chevron-right"></button>
        </label>
    </div>

    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Sale Type</span>
            <input type="text" value="Residential" readonly class="text-right">
            <button class="button button-transparent no-border color-blue button-small icon ion-chevron-right"></button>
        </label>
    </div>

    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Price range</span>
            <input type="text" value="$10000 ‒ $357000" readonly class="text-right">
            <button class="button button-transparent no-border color-blue button-small icon ion-chevron-right"></button>
        </label>
    </div>

    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Bedrooms</span>
            <input type="text" value="" readonly class="text-right">
            <button class="button button-transparent no-border color-blue button-small icon ion-chevron-right"></button>
        </label>
    </div>

    <div class="list list-inset">
        <label class="item item-input inp-with-btn">
            <span class="input-label color-blue">Bathrooms</span>
            <input type="text" value="" readonly class="text-right">
            <button class="button button-transparent no-border color-blue button-small icon ion-chevron-right"></button>
        </label>
    </div>
    <button class="button button-block button-transparent color-blue">
        MORE PROPERTIES <i class="icon ion-chevron-down"></i>
    </button>

</ion-content>
